doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(http-equiv='cleartype', content='on')
    link(rel='stylesheet', href='/stylesheets/salt-ui.min.css')
    script(type="text/javascript") var _config = !{config};
    script(src='/scripts/ding_cdn.min.js')
    
  body
    block content
    <!-- include ../includes/foot.jade -->
    