doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(http-equiv='cleartype', content='on')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//g.alicdn.com/platform/tingle-ui/1.1.1/salt-ui.min.css')
    script(src='//g.alicdn.com/platform/c/??zepto/1.1.6/zepto.min.js,react/0.14.3/react-with-addons.js,react/0.14.3/react-dom.min.js,react-router/2.0.0/umd/ReactRouter.min.js,fastclick/1.0.6/lib/fastclick.min.js,lie/3.0.2/dist/lie.polyfill.min.js,natty-db/1.0.2/dist/natty-db.min.js,reflux/0.3.0/dist/reflux.min.js')
    
  body
    block content
    <!-- include ../includes/foot.jade -->
    