<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="cleartype" content="on"><link rel="stylesheet" href="/stylesheets/salt-ui.min.css">
    <script type="text/javascript">
    	var _config = <%- config %>
    </script>
    <script src="/scripts/ding_cdn.min.js"></script>
  </head>
  <body>
    <div id="App"></div>
		<script src="/scripts/dingtalk.js"></script>
		<script src="/scripts/salt-ui.min.js?v=1"></script>
		<script src="/build/common.js"></script>
		<script src="/build/main.js?v=2"></script>
  </body>
</html>
